.part1_bg {
  /* background: url("../images/background3.jpeg") no-repeat; */
  background-color: #343434;
  background-size: cover;
  position: relative;
  height:700px;
}

.part1_bg1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height:700px;
  line-height: 50px;
  text-align: center;
  background:rgba(0,0,0,0.5);
}

.small-font {
  font-size: 12px;
}

.firstWord {
  color: #ee7062;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2em;
  display: inline-block;
}

.text {
  margin-top: 10px;
  margin-bottom: 160px;
  text-align: center;
  color: rgba(240,255,255, 0.85);
  font-family: Permanent Marker, serif;
}

.text2 {
  text-align: center;
  color: rgba(240,255,255, 0.85);
  font-family: Merriweather, serif;
}

.part1-icon{
  width: 44px;
  height: 44px;
  color: rgba(240,255,255, 0.75)
}

.part1-icon:hover{
  width: 50px;
  height: 50px;
  animation: 1s rainbow infinite;
}
@keyframes rainbow {
  0% { color: rgba(144,238,144, 0.75); }
  50% { color: orange; }
  100% { color: yellowgreen; }
}

.part2-margintop {
  margin-top: 100px !important;
}

.hcc-r2 {
  line-height: 1em;
  font-style: italic;
  background-color: rgba(255,255,255, 0.75);
  color: #31321c;
  margin-top: -0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
}

.part2-icon:hover{
  color: rgba(205,92,92,0.75)
}

/* Part 3 - work */
.ml1 {
  font-weight: 900;
  font-size: 34px;
  margin-left: 40px;
  margin-top: 20px;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #5a5a5a;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

.case-items {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.case-item-left {
  height: inherit;
  float: left;
  background-color: rgba(32,201,151,0.7)
}

.case-item-left h3 {
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Bree Serif', serif;
}

.case-item-left span, .case-item-right span {
  margin-top: 50px;
  margin-left: 30px;
}

.case-item-left p, .case-item-right p {
  margin-top: 10px;
  margin-left: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.case-item-left a, .case-item-right a {
  text-decoration: none;
  color: #fff;
}

.case-item-right {
  height: 100%;
  float: right;
}

.case-item-right-up {
  width: 100%;
  height: 50%;
  background-color: rgba(255,193,7,0.7);
}

.case-item-right-up h3, .case-item-right-down h3{
  margin-left: 30px;
  font-family: 'Bree Serif', serif;
}


.case-item-right-down {
  width: 100%;
  height: 50%;
  background-color: rgba(3,193,7,0.7);
}

.guiker-image-overlay {
  top: 0;
  right: 20px;
  float: right;
  padding: 5px 15px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  visibility: hidden;

}

.case-item-left:hover>.guiker-image-overlay, .case-item-right-up:hover>.guiker-image-overlay, .case-item-right-down:hover>.guiker-image-overlay {
  visibility:visible;
  float: right;
  will-change: transform;
  transform: translateY(150px);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skill {
  margin: 20px;
}

.form_image {
  border-radius: 50%;
  margin-top: 10px;
  opacity: 0.8;
}

.skills_head {
  text-decoration: underline;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Jua', sans-serif;
}

.skills_body {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}

.projects_head {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Jua', sans-serif;
}

.projects_margin_top {
  margin-top: 50px;
}

.projects_font_mention {
  font-weight: 500;
  text-decoration: underline;
}

.projects_font_margin {
  margin-left: 20px;
  font-size: 15px;
}

.project_card_height {
  height: 481px;
}

.footers {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
